# Đồ Án Cuối Kỳ Môn Lập Trình Cho Khoa Học Dữ Liệu

## Chủ đề:

## Thông tin nhóm:
1. Nguyễn Tấn Thìn - 18120085
1. Phạm Nguyên Minh Thy - 18120090

## Nội dung file notebook:
1. Thu thập dữ liệu
2. Khám phá dữ liệu và tiền xử lý (nếu có)
3. Đưa ra câu hỏi
4. Tiền xử lý và trả lời câu hỏi
5. Nhìn lại quá trình làm đồ án

## 1. Thu thập dữ liệu

Trong đồ án này nhóm em sử dụng dữ liệu đã được thu thập sẵn `Levels_Fyi_Salary_Data.csv` chia sẻ trên Kaggle ([nguồn](https://www.kaggle.com/jackogozaly/data-science-and-stem-salaries)). Đây là tập dữ liệu chứa hơn 62000 hồ sơ lương từ các công ty công nghệ hàng đầu, chứa các thông tin như vị trí công việc, mức lương, tên công ty, năm kinh nghiệm,... Dữ liệu này được Jack Ogozaly (người đăng tập dữ liệu lên Kaggle) crawl từ trang [levels.fyi](https://www.levels.fyi/) và tiến hành làm sạch.

## 2. Khám phá dữ liệu và tiền xử lý (nếu có)

### Import các thư viện

In [1]:
import pandas as pd
import numpy as np

### Đọc dữ liệu và đổi tên một số cột

In [12]:
salary_df = pd.read_csv('./Data/Levels_Fyi_Salary_Data.csv')
salary_df.rename(lambda col: str(col).lower().replace('_', ''), axis="columns", inplace=True)
salary_df

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,...,doctoratedegree,highschool,somecollege,raceasian,racewhite,racetwoormore,raceblack,racehispanic,race,education
0,6/7/2017 11:33:27,Oracle,L3,Product Manager,127000,"Redwood City, CA",1.5,1.5,NaN,107000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
1,6/10/2017 17:11:29,eBay,SE 2,Software Engineer,100000,"San Francisco, CA",5.0,3.0,NaN,0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
2,6/11/2017 14:53:57,Amazon,L7,Product Manager,310000,"Seattle, WA",8.0,0.0,NaN,155000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
3,6/17/2017 0:23:14,Apple,M1,Software Engineering Manager,372000,"Sunnyvale, CA",7.0,5.0,NaN,157000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
4,6/20/2017 10:58:51,Microsoft,60,Software Engineer,157000,"Mountain View, CA",5.0,3.0,NaN,0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62637,9/9/2018 11:52:32,Google,T4,Software Engineer,327000,"Seattle, WA",10.0,1.0,Distributed Systems (Back-End),155000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62638,9/13/2018 8:23:32,Microsoft,62,Software Engineer,237000,"Redmond, WA",2.0,2.0,Full Stack,146900.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62639,9/13/2018 14:35:59,MSFT,63,Software Engineer,220000,"Seattle, WA",14.0,12.0,Full Stack,157000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62640,9/16/2018 16:10:35,Salesforce,Lead MTS,Software Engineer,280000,"San Francisco, CA",8.0,4.0,iOS,194688.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62641,1/29/2019 5:12:59,apple,ict3,Software Engineer,200000,"Sunnyvale, CA",0.0,0.0,ML / AI,155000.0,...,0,0,0,0,0,0,0,0,NaN,NaN

### Dữ liệu có bao nhiêu dòng và bao nhiêu cột?

In [4]:
num_rows, num_cols = salary_df.shape
num_rows, num_cols

(62642, 29)

### Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?
Theo mô tả trên kaggle thì mỗi dòng là hồ sơ lương của một người tại một công ty. Các dòng đều mang ý nghĩa giống nhau

### Dữ liệu có các dòng bị lặp không?

In [5]:
has_duplicate = salary_df.duplicated().sum() > 0
has_duplicate

False

### Mỗi cột có ý nghĩa gì

Ý nghĩa một số cột trong file `Levels_Fyi_Salary_Data.csv` được ghi trong bảng sau:

|Cột|Ý nghĩa|
|---|---|
|**timestamp**|Ngày giờ (%m/%d/%Y %H:%M) ghi nhận thông tin| 
|**company**|Tên công ty làm việc|
|**level**|Trình độ của công việc|
|**title**|Chức vụ hay vị trí công việc|
|**totalyyearlycompensation**|Tổng mức lương hằng năm|
|**location**|Địa điểm làm việc|
|**yearofexperience**|Năm kinh nghiệm|
|**yearsatcompany**|Số năm làm việc ở công ty|
|**tag**|Loại công việc sẽ làm|
|**basesalary**|Lương cơ bản|
|**stockgrantvalue**||
|**bonus**|Tiền thưởng|
|**gender**|Giới tính|
|**otherdetails**|Mô tả thêm về vị trí công việc|
|**dmaid**|Designated Market Area|
|**mastersdegree**|Có bằng thạc sĩ hay không|
|**doctoratedegree**|Có bằng tiến sĩ hay không|
|**highschool**||
|**somecollege**||
|**race**|Dân tộc, chủng tộc|
|**education**|Trình độ văn hoá|
|****||

### Mỗi cột hiện đang có kiểu dữ liệu gì? Có cột nào có kiểu dữ liệu chưa phù hợp để có thể xử lý tiếp không?

In [6]:
salary_df.dtypes

timestamp                   object
company                     object
level                       object
title                       object
totalyearlycompensation      int64
location                    object
yearsofexperience          float64
yearsatcompany             float64
tag                         object
basesalary                 float64
stockgrantvalue            float64
bonus                      float64
gender                      object
otherdetails                object
cityid                       int64
dmaid                      float64
rownumber                    int64
mastersdegree                int64
bachelorsdegree              int64
doctoratedegree              int64
highschool                   int64
somecollege                  int64
raceasian                    int64
racewhite                    int64
racetwoormore                int64
raceblack                    int64
racehispanic                 int64
race                        object
education                   object
dtype: object

**Nhận xét:** Ở đây, phần lớn các cột đều ở đúng định dạng, cả chỉ có cột "timestamp" cần chuyển từ object về "datetime" để tiện cho khám phá sau này

### Tiền xử lý 
Chuyển cột "timestamp" sang kiểu dữ liệu datetime

In [11]:
# salary_df['timestamp'] 
salary_df['timestamp'] = pd.to_datetime(salary_df['timestamp'], format='%m/%d/%Y %H:%M:%S')
salary_df.dtypes

timestamp                  datetime64[ns]
company                            object
level                              object
title                              object
totalyearlycompensation             int64
location                           object
yearsofexperience                 float64
yearsatcompany                    float64
tag                                object
basesalary                        float64
stockgrantvalue                   float64
bonus                             float64
gender                             object
otherdetails                       object
cityid                              int64
dmaid                             float64
rownumber                           int64
mastersdegree                       int64
bachelorsdegree                     int64
doctoratedegree                     int64
highschool                          int64
somecollege                         int64
raceasian                           int64
racewhite                           int64
racetwoormore                       int64
raceblack                           int64
racehispanic                        int64
race                               object
education                          object
dtype: object

### Với mỗi cột có kiểu dữ liệu dạng số (numerical), các giá trị được phân bố như thế nào?

Các cột có kiểu dữ liệu dạng số gồm: "timestamp", "totalyearlycompensation", "yearsofexperience", "yearsatcompany", "basesalary", "stockgrantvalue", "bonus".

In [13]:
def missing_ratio(s):
    return s.isna().mean() * 100

numeric_cols = ["timestamp", "totalyearlycompensation", "yearsofexperience", "yearsatcompany", "basesalary", "stockgrantvalue", "bonus"]
nume_col_profiles_df = salary_df[numeric_cols].agg([missing_ratio, pd.Series.min, pd.Series.max])
nume_col_profiles_df

,timestamp,totalyearlycompensation,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus
missing_ratio,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,1/1/2019 11:38:29,10000.0,0.0,0.0,0.0,0.0,0.0
max,9/9/2020 9:57:39,4980000.0,69.0,69.0,1659870.0,2800000.0,1000000.0

### Với mỗi cột có kiểu dữ liệu dạng phân loại (categorical), các giá trị được phân bố như thế nào?

Các cột có kiểu dữ liệu dạng phân loại gồm: "company", "level", "title", "location", "tag", "gender", "otherdetails", "cityid", "dmaid", "rownumber", "mastersdegree", "bachelorsdegree", "doctoratedegree", "highschool", "somecollege", "raceasian", "racewhite", "racetwoormore", "raceblack", "racehispanic", "race", "education"

In [15]:
# YOUR CODE HERE
def num_diff_vals(s):
    return s.nunique()

def diff_vals(s):
    return s.dropna().unique()


cate_cols = ["company", "level", "title", "location", "tag", "gender", "otherdetails", "cityid", 
             "dmaid", "rownumber", "mastersdegree", "bachelorsdegree", "doctoratedegree", "highschool",
             "somecollege", "raceasian", "racewhite", "racetwoormore", "raceblack", "racehispanic", "race", "education"]
cate_col_profiles_df = salary_df[cate_cols].agg([missing_ratio, num_diff_vals, diff_vals])
cate_col_profiles_df

,company,level,title,location,tag,gender,otherdetails,cityid,dmaid,rownumber,...,doctoratedegree,highschool,somecollege,raceasian,racewhite,racetwoormore,raceblack,racehispanic,race,education
missing_ratio,0.007982,0.189968,0.0,0.0,1.363303,31.193129,35.926375,0.0,0.003193,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64.198142,51.518151
num_diff_vals,1631,2923,15,1050,3058,4,12841,1045,149,62642,...,2,2,2,2,2,2,2,2,5,5
diff_vals,"[Oracle, eBay, Amazon, Apple, Microsoft, Sales...","[L3, SE 2, L7, M1, 60, 63, 65, 62, 59, 9, Sde ...","[Product Manager, Software Engineer, Software ...","[Redwood City, CA, San Francisco, CA, Seattle,...","[Full Stack, Distributed Systems (Back-End), E...","[Male, Female, Other, Title: Senior Software E...","[Tons of overtime, PhD, How do I access result...","[7392, 7419, 11527, 7472, 7322, 11521, 11470, ...","[807.0, 819.0, 0.0, 501.0, 512.0, 862.0, 820.0...","[1, 2, 3, 7, 9, 11, 12, 13, 15, 16, 18, 19, 20...",...,"[0, 1]","[0, 1]","[0, 1]","[0, 1]","[0, 1]","[0, 1]","[0, 1]","[0, 1]","[White, Asian, Black, Two Or More, Hispanic]","[PhD, Master's Degree, Bachelor's Degree, Some..."

##  3. Đưa ra câu hỏi

## 4. Tiền xử lý và phân tích trả lời câu hỏi