## Đồ Án Cuối Kỳ Nhập Môn Khoa Học Dữ Liệu

### Chủ đề:

### Thông tin nhóm:
1. Nguyễn Tấn Thìn - 18120085
1. Phạm Nguyên Minh Thy - 18120090

### Nội dung file notebook:
1. Thu thập dữ liệu
2. Tiền xử lý và khám phá dữ liệu (để đưa ra câu hỏi)
3. Đưa ra câu hỏi
4. Tiền xử lý và trả lời câu hỏi
5. Nhìn lại quá trình làm đồ án

### 1. Thu thập dữ liệu

Trong đồ án này nhóm em sử dụng dữ liệu đã được thu thập sẵn `Levels_Fyi_Salary_Data.csv` chia sẻ trên Kaggle ([nguồn](https://www.kaggle.com/jackogozaly/data-science-and-stem-salaries)). Đây là tập dữ liệu chứa hơn 62000 hồ sơ lương từ các công ty công nghệ hàng đầu, chứa các thông tin như vị trí công việc, mức lương, tên công ty, năm kinh nghiệm,... Dữ liệu này được Jack Ogozaly (người đăng tập dữ liệu lên Kaggle) crawl từ trang [levels.fyi](https://www.levels.fyi/) và tiến hành làm sạch.

### 2. Tiền xử lý và khám phá dữ liệu

#### Import các thư viện

In [1]:
import pandas as pd
import numpy as np

#### Đọc dữ liệu

In [3]:
df = pd.read_csv('./Data/Levels_Fyi_Salary_Data.csv')
df

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,...,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education
0,6/7/2017 11:33:27,Oracle,L3,Product Manager,127000,"Redwood City, CA",1.5,1.5,NaN,107000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
1,6/10/2017 17:11:29,eBay,SE 2,Software Engineer,100000,"San Francisco, CA",5.0,3.0,NaN,0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
2,6/11/2017 14:53:57,Amazon,L7,Product Manager,310000,"Seattle, WA",8.0,0.0,NaN,155000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
3,6/17/2017 0:23:14,Apple,M1,Software Engineering Manager,372000,"Sunnyvale, CA",7.0,5.0,NaN,157000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
4,6/20/2017 10:58:51,Microsoft,60,Software Engineer,157000,"Mountain View, CA",5.0,3.0,NaN,0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62637,9/9/2018 11:52:32,Google,T4,Software Engineer,327000,"Seattle, WA",10.0,1.0,Distributed Systems (Back-End),155000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62638,9/13/2018 8:23:32,Microsoft,62,Software Engineer,237000,"Redmond, WA",2.0,2.0,Full Stack,146900.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62639,9/13/2018 14:35:59,MSFT,63,Software Engineer,220000,"Seattle, WA",14.0,12.0,Full Stack,157000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62640,9/16/2018 16:10:35,Salesforce,Lead MTS,Software Engineer,280000,"San Francisco, CA",8.0,4.0,iOS,194688.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62641,1/29/2019 5:12:59,apple,ict3,Software Engineer,200000,"Sunnyvale, CA",0.0,0.0,ML / AI,155000.0,...,0,0,0,0,0,0,0,0,NaN,NaN

###  3. Đưa ra câu hỏi